* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #40868b;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}

.navbar {
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav-menu a:hover {
    background-color: gray;
}