* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.nav-heading h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #40868b;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}

.navbar {
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav-menu a:hover {
    background-color: gray;
}

.profile {
    padding: 250px;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon {
    position: absolute;
    right: 60px;
    top: 80px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover {
    transform: rotate(360deg);
}

.profile-desc h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p {
    margin: 0 auto 20 auto;
    color: gray;
    text-align: center;
    width: 90%;
}

.profile .bottom-weather-icon {
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover {
    transform: rotate(360deg);
}

.profile::after {
    content: '';
    display: table;
    clear: both;
}