* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

.nav-heading h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.nav-menu a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #40868b;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}

.navbar {
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav-menu a:hover {
    background-color: gray;
}

.profile {
    padding: 250px;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon {
    position: absolute;
    right: 60px;
    top: 80px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover {
    transform: rotate(360deg);
}

.profile-desc h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p {
    margin: 0 auto 20 auto;
    color: gray;
    text-align: center;
    width: 90%;
}

.profile .bottom-weather-icon {
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover {
    transform: rotate(360deg);
}

.profile::after {
    content: '';
    display: table;
    clear: both;
}


/* about me starts here */

.about-me h2 {
    font-size: 1.5rem;
    text-align: center;
}

.about-me {
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
}

.about-me::after {
    content: '';
    display: table;
    clear: both;
}

.dotted-hr {
    border: dotted 6px white;
    border-bottom: none;
    width: 80px;
    margin: 20px auto;
}

.aboutme-img img {
    border: 5px solid white;
    border-radius: 50%;
    margin-left: 280px;
}

.about-me p {
    text-align: center;
}

.about-me a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.cv-button {
    background-color: #052d2f;
    color: white;
    border: none;
    padding: 17px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
}


/* about me ends here */


/* professional experience starts here */

.professional-experience {
    padding: 1% 2%;
}

.card-title h2 {
    text-align: center;
    background-color: #052d2f;
    color: white;
    padding: 10px;
}

.card {
    background-color: #a39e9e;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    height: 500px;
}

.card:hover {
    box-shadow: 0 4px 8px 5px black;
}

.card-icon {
    text-align: center;
}

.card-icon img {
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.skills li {
    list-style: none;
    margin: 50px 0;
    font-weight: bolder;
    position: relative;
}

.skills li::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    height: 10px;
    background-color: rgb(86, 56, 153, .5);
    border-radius: 10000px;
}

.skills li::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgb(86, 56, 153, 1);
    border-radius: 10000px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.skills li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

.skills li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 60%;
    }
}

.skills li.bootstrap::after {
    animation-name: bootstrap;
}

@keyframes bootstrap {
    to {
        width: 70%;
    }
}

.skills li.javascript::after {
    animation-name: javascript;
}

@keyframes javascript {
    to {
        width: 50%;
    }
}

.professional-experience::after {
    content: '';
    display: table;
    clear: both;
}


/* professional experience endshere */


/* achivement content starts here */

.achivement-contact {
    padding: 1% 7%;
    background-color: #39a4ac;
}

.achivement h2 {
    color: white;
    text-align: center;
}

.achivement-contact::after {
    content: '';
    display: table;
    clear: both;
}